* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

#fondo, .portafolio__item, #footer {
  display: flex;
  justify-content: center;
  align-items: center; }

h2 {
  color: #2c2c2c;
  letter-spacing: .05em;
  font-family: 'Dosis', sans-serif;
  margin: 30px 0 23px 0;
  padding: 10px 0;
  font-size: 5rem;
  font-weight: bold; }

h3 {
  font-family: 'Dosis', sans-serif; }

header {
  width: 100%;
  position: fixed;
  z-index: 5;
  transition: all 0.7s ease; }

.navbar-default {
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0); }
  .navbar-default .navbar-nav > li > a {
    border-radius: 10px;
    font-weight: bold;
    color: white;
    transition: all 0.5s ease; }
  .navbar-default .navbar-nav > li {
    margin: 10px;
    font-size: 1.5rem; }
  .navbar-default .navbar-nav.pullUpDown > li > a:hover {
    color: #555;
    border-radius: 10px;
    background-color: #e7e7e7; }
  .navbar-default .navbar-collapse {
    border: 0; }
  .navbar-default img {
    width: 50px; }
  .navbar-default .logo-hidden {
    display: none; }

.header-hidden {
  background-color: rgba(59, 59, 59, 0.79);
  height: 70px; }

.header-hidden .logo-hidden {
  display: block; }

.header-hidden .logo {
  display: none; }

#fondo {
  background-size: cover;
  background-image: url(../img/fondo-aurora-3.jpg);
  background-attachment: fixed;
  background-position: 10% 30%;
  height: 100vh;
  flex-direction: column;
  -webkit-animation: 100s scroll infinite linear;
  -moz-animation: 100s scroll infinite linear;
  -o-animation: 100s scroll infinite linear;
  -ms-animation: 100s scroll infinite linear;
  animation: 100s scroll infinite linear;
  top: 0;
  left: 0;
  width: 100%; }

@-webkit-keyframes scroll {
  100% {
    background-position: 0px -3000px; } }
@-moz-keyframes scroll {
  100% {
    background-position: 0px -3000px; } }
@-o-keyframes scroll {
  100% {
    background-position: 0px -3000px; } }
@-ms-keyframes scroll {
  100% {
    background-position: 0px -3000px; } }
@keyframes scroll {
  100% {
    background-position: 0px -3000px; } }
.home__name {
  text-align: center;
  align-self: center;
  color: #fff;
  font-size: 10rem;
  font-family: 'Dosis', sans-serif;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1); }
.home__button {
  margin: 0 auto;
  text-align: center; }
  .home__button--bg {
    margin: 30px 10px;
    background-color: rgba(121, 42, 62, 0.68);
    border: 2px solid #792a3e;
    font-weight: bold;
    width: 150px; }
    .home__button--bg a {
      color: #fff;
      font-size: 2rem;
      text-decoration: none; }

/**/
.typewriter h1 {
  color: #fff;
  font-size: 40px;
  overflow: hidden;
  border-right: .20em solid #fff;
  /*ancho del cursor*/
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: read 7s steps(50) infinite alternate, blink-caret 0.75s step-end infinite alternate; }

@keyframes read {
  from {
    width: 0%; }
  to {
    width: 100%; } }
/*Efecto del cursor*/
@keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: #792a3e; } }
/******/
.description {
  padding-bottom: 100px; }
  .description__img {
    display: inline-block; }
    .description__img img {
      width: 80%; }
  .description__text {
    margin-top: 60px;
    float: left;
    color: #000;
    font-size: 1.8rem; }
  .description__skills-item div {
    text-align: center;
    margin: 10px 0;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1.3px; }

#projects {
  background-color: #DBCBC4;
  padding-bottom: 30px; }

.portafolio h2 {
  margin-bottom: 0; }
.portafolio__item {
  padding: 20px;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  transition: all 0.4s ease;
  cursor: zoom-in; }
  .portafolio__item h3 {
    font-weight: bold; }

.modal__btn {
  text-align: center; }
  .modal__btn button {
    margin-top: 30px;
    background-color: #792a3e; }
    .modal__btn button a {
      text-decoration: none;
      color: #fff;
      font-size: auto;
      font-weight: bold; }
.modal .modal-title {
  font-weight: bold; }
.modal h5 {
  font-weight: 500;
  font-size: 1.8rem; }

.contact {
  padding-bottom: 20px; }
  .contact .center-block {
    text-align: center; }
  .contact__info i {
    color: #792a3e;
    font-size: 2rem;
    margin-right: 10px; }
  .contact__redes li {
    list-style: none; }
    .contact__redes li a {
      text-decoration: none;
      color: #792a3e;
      font-size: 3rem;
      margin-right: 5px; }
  .contact__cv button {
    border: 0;
    padding: 15px;
    border-radius: 10px;
    background-color: #792a3e;
    color: #fff;
    font-size: 1.8rem; }
    .contact__cv button a {
      color: #fff;
      font-size: 1.8rem;
      text-decoration: none; }

#footer {
  height: 10vh;
  text-align: center;
  font-weight: bold;
  background-color: #4b4b4b;
  color: #fff; }

@media (max-width: 750px) {
  .typewriter h1 {
    width: 65%;
    font-size: 1.8rem; }

  .name {
    font-size: 6rem; }

  .header-mobile {
    background-color: #3e3e3e; }

  h2 {
    font-size: 3rem; } }

/*# sourceMappingURL=style.css.map */
