* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

#fondo, .description__skills--item, .portafolio__item, #footer {
  display: flex;
  justify-content: center;
  align-items: center; }

h2 {
  color: #2c2c2c;
  letter-spacing: .05em;
  font-family: 'Quicksand', sans-serif;
  margin: 30px 0 23px 0;
  padding: 10px 0;
  font-size: 4rem;
  font-weight: bold; }

h3 {
  font-family: 'Quicksand', sans-serif; }

header {
  width: 100%;
  position: fixed;
  z-index: 5;
  transition: all 0.7s ease; }

.navbar-default {
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0); }
  .navbar-default .navbar-nav > li > a {
    font-weight: bold;
    color: white;
    transition: all 0.5s ease; }
  .navbar-default .navbar-nav > li {
    margin: 10px;
    font-size: 1.5rem; }
  .navbar-default .navbar-nav.pullUpDown > li > a:hover {
    color: #555;
    background-color: #e7e7e7; }
  .navbar-default .navbar-collapse {
    border: 0;
    padding: 0 80px; }
  .navbar-default img {
    width: 50px; }
  .navbar-default .logo-hidden {
    display: none; }

.header-hidden {
  background-color: rgba(59, 59, 59, 0.79);
  height: 70px; }

.header-hidden .logo-hidden {
  display: block; }

#fondo {
  background-image: url(../img/ep_naturalblack.png);
  background-attachment: fixed;
  background-position: 10% 30%;
  height: 100vh;
  flex-direction: column;
  -webkit-animation: 100s scroll infinite linear;
  -moz-animation: 100s scroll infinite linear;
  -o-animation: 100s scroll infinite linear;
  -ms-animation: 100s scroll infinite linear;
  animation: 100s scroll infinite linear;
  top: 0;
  left: 0;
  width: 100%; }

@-webkit-keyframes scroll {
  100% {
    background-position: 0px -3000px; } }
@-moz-keyframes scroll {
  100% {
    background-position: 0px -3000px; } }
@-o-keyframes scroll {
  100% {
    background-position: 0px -3000px; } }
@-ms-keyframes scroll {
  100% {
    background-position: 0px -3000px; } }
@keyframes scroll {
  100% {
    background-position: 0px -3000px; } }
.home__name {
  text-align: center;
  align-self: center;
  color: #fff;
  font-size: 10rem;
  font-family: 'Quicksand', sans-serif;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1); }
.home__button {
  margin: 0 auto;
  text-align: center; }
  .home__button--bg {
    margin: 30px 10px;
    background-color: rgba(121, 42, 62, 0.68);
    border: 2px solid #792a3e;
    font-weight: 400;
    width: 150px; }
    .home__button--bg a {
      color: #fff;
      font-size: 2rem;
      text-decoration: none; }

/**/
.typewriter h1 {
  color: #fff;
  font-size: 40px;
  font-family: 'Roboto Mono', monospace;
  overflow: hidden;
  border-right: .20em solid #fff;
  /*ancho del cursor*/
  white-space: nowrap;
  margin: 0 auto;
  animation: read 7s steps(50) infinite alternate, blink-caret 0.75s step-end infinite alternate; }

@keyframes read {
  from {
    width: 0%; }
  to {
    width: 100%; } }
/*Efecto del cursor*/
@keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: #DBCBC4; } }
/******/
.description {
  padding: 60px 0 70px 0;
  text-align: center; }
  .description__img {
    display: inline-block; }
    .description__img img {
      width: 70%;
      clip-path: circle(); }
  .description__text {
    text-align: justify;
    margin-top: 40px;
    float: left;
    color: #000;
    font-size: 1.8rem; }
    .description__text img {
      margin: 10px; }
  .description__skills {
    margin-top: 80px; }
  .description__skills--item {
    flex-wrap: wrap; }
    .description__skills--item div {
      margin: 6px 0;
      font-size: 2rem;
      font-weight: bold;
      padding-top: 8px; }
      .description__skills--item div img {
        margin: 0 10px; }

#projects {
  background-color: #DBCBC4;
  padding-bottom: 30px; }

.portafolio {
  padding: 60px 0; }
  .portafolio h2 {
    margin-bottom: 0; }
  .portafolio__title {
    margin-bottom: 20px; }
  .portafolio__item {
    padding: 20px;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    transition: all 0.4s ease;
    cursor: zoom-in; }
    .portafolio__item h3 {
      font-weight: bold; }

.modal__btn {
  text-align: center; }
  .modal__btn button {
    margin: 20px 25px;
    background-color: #792a3e; }
    .modal__btn button a {
      text-decoration: none;
      color: #fff;
      font-size: auto;
      font-weight: bold; }
.modal .modal-body h5 {
  font-weight: bold; }
.modal .modal-body img {
  text-align: center; }
.modal .modal-header {
  text-align: center; }
.modal .modal-title {
  font-weight: bold; }
.modal h5 {
  font-weight: 500;
  font-size: 1.8rem; }

.contact {
  padding: 60px 0; }
  .contact__info {
    font-size: 1.5rem; }
    .contact__info i {
      color: #792a3e;
      font-size: 2.5rem;
      margin-right: 10px; }
    .contact__info .fa-phone {
      margin-right: 17px; }
  .contact__gif {
    text-align: center; }
  .contact__redes div {
    float: right; }
  .contact__redes li {
    list-style: none; }
    .contact__redes li a {
      text-decoration: none;
      color: #792a3e;
      font-size: 3rem;
      margin-right: 5px; }
  .contact__cv {
    text-align: center; }
    .contact__cv button {
      border: 0;
      padding: 15px;
      border-radius: 10px;
      background-color: #792a3e;
      color: #fff;
      font-size: 1.8rem; }
      .contact__cv button a {
        text-decoration: none;
        color: #fff; }

#footer {
  height: 10vh;
  text-align: center;
  font-weight: bold;
  background-color: #4b4b4b;
  color: #fff; }

@media (max-width: 750px) {
  .typewriter h1 {
    width: 65%;
    font-size: 1.8rem; }

  .name {
    font-size: 4rem; }

  .header-mobile {
    background-color: #3e3e3e; }

  h2 {
    font-size: 3rem; }

  .contact {
    text-align: center; }
    .contact__redes div {
      float: none; }

  .navbar-default .navbar-collapse {
    padding: initial; }

  .header-hidden {
    display: none; } }

/*# sourceMappingURL=style.css.map */
