@import "colors";

*{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
%flex-box{
  display: flex;
  justify-content: center;
  align-items: center;
}
%title-section{
  color: $color-title;
  letter-spacing: .05em;
  font-family: 'Dosis', sans-serif;
  margin: 30px 0 23px 0;
  padding: 10px 0;
  font-size: 5rem;
  font-weight: bold;
}
 h2{
   @extend %title-section;
 }
 h3{
   font-family: 'Dosis', sans-serif;
 }

@mixin color-font ($color, $font){
  color: $color;
  font-size: $font;
}

header{
  width: 100%;
  position: fixed;
  z-index: 5;
  transition: all 0.7s ease;
}
.navbar-default{
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
  & .navbar-nav>li>a{
    border-radius: 10px;
    font-weight: bold;
    color: white;
    transition: all 0.5s ease;
  }
  & .navbar-nav>li{
    margin: 10px;
    font-size: 1.5rem;
  }
  & .navbar-nav.pullUpDown>li>a:hover{
    color: #555;
    border-radius: 10px;
    background-color: #e7e7e7;
  }
  & img{
    width: 50px;
  }
  & .logo-hidden{
    display: none;
  }
}
.header-hidden{
  background-color: rgba(59, 59, 59, 0.79);
  height: 70px;
}
.header-hidden .logo-hidden{
  display: block;
}
.header-hidden .logo{
  display: none;
}
#fondo{
  background-size: cover;
  // background-image: url(../img/triangles_@2X.png);
  background-image: url(https://static.pexels.com/photos/506165/pexels-photo-506165.jpeg);
  // background-image: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/footer_lodyas.png);
  // background-image: url(https://cdn.pixabay.com/photo/2015/12/04/14/05/code-1076536_960_720.jpg);
  background-attachment: fixed;
  background-position: 10% 30%;
  height: 100vh;
  @extend %flex-box;
  flex-direction: column;
  -webkit-animation:100s scroll infinite linear;
  -moz-animation:100s scroll infinite linear;
  -o-animation:100s scroll infinite linear;
  -ms-animation:100s scroll infinite linear;
  animation:100s scroll infinite linear;
  top:0;
  left:0;
  width:100%;
}

@-webkit-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-moz-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-o-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-ms-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

.home{
  &__name{
    text-align: center;
    align-self: center;
    @include color-font(#fff, 10rem);
    font-family: 'Dosis', sans-serif;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
    // text-shadow:
    // 4px 4px 0px #b682a9,
    // 7px 7px 0px #8e7379 ;
  }
  &__button{
    margin: 0 auto;
    text-align: center;
    &--bg{
      margin: 30px 10px;
      background-color: rgba(121, 42, 62, 0.68);
      border: 2px solid $color-principal;
      font-weight: bold;
      width: 150px;
      a{
        @include color-font(#fff, 2rem);
        text-decoration: none;
      }
    }
  }
}
/**/
.typewriter h1 {
  color: #fff;
  font-size: 40px;
  overflow: hidden;
  border-right: .20em solid #fff; /*ancho del cursor*/
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    /*typing 3.5s steps(40, end),*/
    read 7s steps(50) infinite alternate,
    blink-caret .75s step-end infinite alternate;
}

@keyframes read {
  from { width: 0% }
  to { width: 100% }
}

/*Efecto del cursor*/
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: $color-principal }
}
/******/

.description{
  padding-bottom: 100px;
  &__img{
    display: inline-block;
    img{
      width: 80%;
    }
  }
  &__text{
    margin-top: 60px;
    float: left;
    @include color-font(#000, 1.8rem);
  }
  &__skills-item{
    & div{
      text-align: center;
      margin: 10px 0;
      font-size: 2rem;
      font-weight: bold;
      letter-spacing: 1.3px;
    }
  }
}

#projects{
  background-color: $bgcolor-principal;
  padding-bottom: 30px;
}
.portafolio{
  & h2{
    margin-bottom: 0;
  }
  &__item{
    padding: 20px;
    text-align: center;
    @extend %flex-box;
    flex-wrap: wrap;
    flex-direction: column;
    transition: all 0.4s ease;
    cursor: zoom-in;
    h3{
      font-weight: bold;
    }
  }
}

.modal{
  &__btn{
    text-align: center;
    button{
      margin-top: 30px;
      background-color: $color-principal;
      a{
        text-decoration: none;
        @include color-font(#fff,auto);
        font-weight: bold;
      }
    }
  }
}


.contact{
  padding-bottom: 20px;
  & .center-block{
    text-align: center;
  }
  &__info{
    i{
      // text-align: left;
      @include color-font($color-principal, 2rem);
      margin-right: 10px;
    }
  }
  &__redes{
    li{
      list-style: none;
      a{
        text-decoration: none;
        @include color-font($color-principal, 3rem);
        margin-right: 5px;
      }
    }
  }
  &__cv{
    button{
      border: 0;
      padding: 15px;
      border-radius: 10px;
      background-color: $color-principal;
      @include color-font(#fff, 1.8rem);
    }
  }
}

#footer{
  height: 10vh;
  @extend %flex-box;
  text-align: center;
  font-weight: bold;
  background-color: $color-secundario;
  color: #fff;
}
